.card {
    padding: 15px;

    &__title {
        @include start-at("xslg") {
            font-size: 18px;
        }
        @include active-by("xslg") {
            font-size: 20px;
        }
    }
    &__text {
        white-space: pre-wrap;
    }
}